<%= provide(:title, "About") %>

<%= javascript_include_tag 'snap.svg' %>
<%= javascript_include_tag 'darts-ui' %>

<div class="container">
  <h1>About dartsduino</h1>

  <svg id="darts-ui" width="640" height="640"></svg>
</div>
