
@import url(http://fonts.googleapis.com/css?family=Bowlby+One);

.game-title {
  font-family: 'Bowlby One', cursive;
  font-size: 30px;
  margin-top: 8px;
}

.btn-start {
  margin: 10px 0px;
}

.scores {
  font-family: 'Bowlby One', cursive;
}

.scores-title {
  font-size: 24px;
  text-align: center;
  background-color: #0ff;
}

.scores-score {
  font-size: 18px;
  text-align: right;
}

.scores-total-score {
  font-size: 24px;
  text-align: right;
}
